@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';

    /* OLSC COLORS */
    --color-olsc-red: #D00027;
    --color-olsc-teal: #00A398;
    --color-olsc-yellow: #FDF667;
    --color-olsc-white: #FFFFFF;

    /* Optionnel (hover pro) */
    --color-olsc-red-dark: #a0001c;
    --color-olsc-teal-dark: #007a72;
}

@layer utilities {
    .marquee {
        position: relative;
        overflow: hidden;
    }

    .marquee-content {
        display: flex;
        animation: marquee 120s linear infinite;
    }

    @keyframes marquee {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(-50%);
        }
    }

}
